<div class="container" id="communicateHolder">
  <div class="trough-gradient-bg"></div>
  <div class="trough-shadow"></div> 
  <div class="trough-texture"></div>
  <div class="spinner-holder">
    <div class="spinner-bg">
      <div class="spinner-pattern" id="signalSpinner"></div>
      <div class="spinner-static-pattern"></div>
    </div>
    <div class="spinner-cover"></div>
  </div>
  <div class="communicator-dept-buttons">
    <div class="communicator-button1">
      <div class="command-color-off slant-bg" id="backgroundCommand"></div>
      <div class="slant-button" id="buttonCommand"></div>
    </div>
    <div class="communicator-button2">
      <div class="operations-color-off slant-bg" id="backgroundOperations"></div>
      <div class="slant-button" id="buttonOperations"></div>
    </div>
    <div class="communicator-button3">
      <div class="science-color-off slant-bg" id="backgroundScience"></div>
      <div class="slant-button" id="buttonScience"></div>
    </div>
  </div>
  <div class="communicator-panel">
  	<div class="communicator-metal-texture"></div>
    <div class="communicator-metal-shadow"></div>
    <div class="communicator-speaker-holder">
      <div class="communicator-speaker-shadow"></div>
    	<div class="communicator-grill"></div>
      <div class="communicator-inner-shadow"></div>
      <div class="communicator-frame"></div>
    </div>
    <div class="standard-button communicator-std-btn1" id="buttonNegative"></div>
    <div class="standard-button communicator-std-btn2" id="buttonPositive"></div>
  </div>
  <div class="communicator-antenna" id="antennaGrill"></div>	
</div>
