<div class="container">
  <div class="trough-gradient-bg"></div>
  <div class="trough-shadow"></div> 
  <div class="trough-texture"></div>
  <div class="starfleet-logo"></div>
  <div class="logo-holder" id="logoAudioButton">
    <div id="beamTextureHolder" class="logo-beam-pattern-holder">
    	<div class="logo-beam-pattern" id="beamTexture"></div>
		</div>
    <div class="logo-beam-in"></div>
		<div class="logo-glow-fade" id="beamGlowFade">
    	<div class="logo-glow" id="beamGlow"></div>
		</div>
    <div class="logo" id="appTitle"></div>
	</div>
  <div class="subtitle"></div>
  <div class="main-menu">
  	<div class="menu-column1 menu-row1 menu-communicate" id="communicateButton"></div>
  	<div class="menu-column2 menu-row1 menu-eliminate" id="eliminateButton"></div>
  	<div class="menu-column1 menu-row2 menu-investigate" id="investigateButton"></div>
  	<div class="menu-column2 menu-row2 menu-medicate" id="medicateButton"></div>
  	<div class="menu-column1 menu-row3 menu-settings" id="settingsButton"></div>
    <div class="menu-column2 menu-row3 menu-help" id="helpButton"></div>
  </div>
</div>
<audio id="buttonAudio"></audio> 
<audio id="effectsAudio"></audio> 