<!-- TODO: replace the contents of this file with your own html -->
<div class="container">
  <div class="tricorder-gradient-bg">
  	<div class="tricorder-metal-texture"></div>
    <div class="tricorder-metal-shadow"></div>
    <div class="tricorder-screen-holder" id="screenBG"></div>
    <div class="tricorder-screen-holder tricorder-screen-changer" id="screenFG"></div>
   	<div class="tricorder-screen-cover" id="screenButton"></div>
     <div class="tricorder-button-holder">
      <div class="standard-button tricorder-std-btn1" id="4_music"></div>
      <div class="standard-button tricorder-std-btn2" id="5_music"></div>
      <div class="standard-button tricorder-std-btn3" id="6_music"></div>
    </div>
    <div class="tricorder-dept-buttons">
      <div class="tricorder-button1">
        <div class="command-color-off straight-bg"></div>
        <div class="straight-button" id="1_music"></div>
      </div>
      <div class="tricorder-button2">
        <div class="operations-color-off straight-bg"></div>
        <div class="straight-button" id="2_music"></div>
      </div>
      <div class="tricorder-button3">
        <div class="science-color-off straight-bg"></div>
        <div class="straight-button" id="3_music"></div>
      </div>
    </div>
    <div class="tricorder-speaker-holder">
      <div class="tricorder-speaker-shadow"></div>
    	<div class="tricorder-grill"></div>
      <div class="tricorder-speaker-darken"></div>
      <div class="tricorder-inner-shadow"></div>
      <div class="tricorder-frame"></div>
    </div>
  </div>
</div>
