@charset "utf-8"; 
/*GENERAL ITEMS*/
body { margin: 0em;}
body,td,th { font-size: 10px; }
.container { width: 32em; color:#fff; overflow:hidden; }
/*BUTTONS*/
.standard-button{ position:absolute; width:6.2em; height:5.8em; background:url(../images/communicator_sprites.png) -852px -3px no-repeat; }
.straight-button{ position:absolute; width:6.4em; height:6.2em; background:url(../images/communicator_sprites.png) -1255px -356px no-repeat; }
.straight-bg{ position:absolute; top:1.3em; left:1.2em; width:3.3em; height:3.3em; }
.slant-button{ position:absolute; width:6em; height:6.2em; background:url(../images/communicator_sprites.png) -1255px -418px no-repeat; }
.slant-bg{ position:absolute; top:1.4em; left:1.5em; width:3em; height:2.8em; }
.command-color-on{ background-color:#ffcf17; }
.command-color-off{ background-color:#BC9C1B; }
.operations-color-on{ background-color:#ec1412; }
.operations-color-off{ background-color:#9A2525; }
.science-color-on{ background-color:#009df0; }
.science-color-off{ background-color:#166C9A; }
/*TROUGH ITEMS*/
.trough-gradient-bg{ position:absolute; background:url(../images/x_dir_backgrounds.jpg) 0 -480px repeat-x; width:32em; }
.trough-texture{ position:absolute; background: url(../images/trough_bumps.png); width:32em; }
.trough-shadow{ position:absolute; left:0.4em; top:0.8em; border-width: 0 3.7em; width:23.8em; opacity: 0.69; -webkit-border-image: url(../images/trough_shadow.png) 0 37 stretch; -moz-border-image: url(../images/trough_shadow.png) 0 37 stretch; -o-border-image: url(../images/trough_shadow.png) 0 37 stretch; border-image: url(../images/trough_shadow.png) 0 37 stretch; }
/*TITLE SCREEN ITEMS*/
.starfleet-logo{ position:absolute; width:23.2em; height:33.9em; left:4.7em; background:url(../images/communicator_sprites.png) top -190px no-repeat; }
.logo-holder{ position:absolute; top:1em; left:1.8em; }
.logo-beam-pattern { left:1.2em; width:26em; height:19.1em; position:absolute; background: url(../images/beam_ray.png); }
.logo-beam-in{ left:1.2em; width:26em; height:19.1em; position:absolute; background: url(../images/beam_hider.png) no-repeat; }
.logo-glow{ top:-5.2em; left:2.9em; width:22.3em; height:30.3em; position:absolute; background:url(../images/communicator_sprites.png) -1109px -480px no-repeat; -webkit-transform:rotate(270deg); -moz-transform:rotate(270deg); -o-transform:rotate(270deg); transform:rotate(270deg); }
.logo{ position:absolute; width:28.2em; height:21em; background:url(../images/communicator_sprites.png) -632px -260px no-repeat; }
.subtitle{ position:absolute; left:8em; height:9.7em; width:23.6em; background:url(../images/communicator_sprites.png) -865px -671px no-repeat; }
.main-menu{ position:absolute; left:1.7em; }
.menu-column1{ position:absolute; left:0em; }
.menu-column2{ position:absolute; left:17.3em; }
.menu-column1a{ position:absolute; left:3.8em; }
.menu-row1{ position:absolute; top:0em; }
.menu-row2{ position:absolute; }
.menu-row3{ position:absolute; }
.menu-communicate{ width:15.1em; height:2.3em; background:url(../images/communicator_sprites.png) -701px -0px no-repeat; }
.menu-eliminate{ width:11em; height:2.3em; background:url(../images/communicator_sprites.png) -701px -73px no-repeat; }
.menu-investigate{ width:13em; height:2.7em; background:url(../images/communicator_sprites.png) -701px -46px no-repeat; }
.menu-medicate{ width:11.3em; height:2.3em; background:url(../images/communicator_sprites.png) -701px -23px no-repeat; }
.menu-help{ width:20.2em; height:2.7em; background:url(../images/communicator_sprites.png) -701px -96px no-repeat; }
/*COMMUNICATOR ITEMS*/
.spinner-holder{ position:absolute; width:22.2em; height:22.2em; left:5.1em; overflow:hidden;}
.spinner-bg{ position:absolute; top:1.1em; left:0.1em; width:22.2em; height:22.2em; overflow:hidden; background:url(../images/communicator_sprites.png) -190px -542px no-repeat; }
.spinner-pattern{ position:absolute; top:1.1em; left:2.1em; width:17.5em; height:17.5em; background:url(../images/communicator_sprites.png) -13px -2px no-repeat; }
.spinner-static-pattern{ position:absolute; top:.1em; left:1.6em; width:19em; height:19em; background:url(../images/communicator_sprites.png) 0px 0px no-repeat; }
.spinner-cover{ position:absolute; width:22em; height:22.6em; background:url(../images/communicator_sprites.png) -412px -339px no-repeat; }
.communicator-dept-buttons{ position:absolute; left:4.2em; }
.communicator-button2{ position:absolute; left:9em; }
.communicator-button3{ position:absolute; left:18em; }
.communicator-panel{ position:absolute; width:27.8em; left:2.1em; background:url(../images/metal_bg.png); }
.communicator-metal-texture{ background:url(../images/metal_texture.png); position:absolute; opacity:.75; width:27.8em;}
.communicator-metal-shadow{ width:21.7em; position:absolute; border-width: 3.1em; -webkit-border-image: url(../images/tricorder_full_shadow.png) 31 repeat; -moz-border-image: url(../images/tricorder_full_shadow.png) 31 repeat; -o-border-image: url(../images/tricorder_full_shadow.png) 31 repeat; border-image: url(../images/tricorder_full_shadow.png) 31 repeat; }
.communicator-speaker-holder{ position:absolute; left:.1em; }
.communicator-speaker-shadow{ position:absolute; width:2em; border-width: 4em 4.4em; -webkit-border-image: url(../images/speaker-shadow.png) 40 44 repeat; -moz-border-image: url(../images/speaker-shadow.png) 40 44 repeat; -o-border-image: url(../images/speaker-shadow.png) 40 44 repeat; border-image: url(../images/speaker-shadow.png) 40 44 repeat; opacity:.3; }
.communicator-grill{ position:absolute; height:6.4em; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg); background:url(../images/radio_screen.png); }
.communicator-inner-shadow{ position:absolute; top:1.6em; width:4.3em; border-width: 1.2em 1.1em; -webkit-border-image: url(../images/speaker-inner-shadow.png) 12 11 repeat; -moz-border-image: url(../images/speaker-inner-shadow.png) 12 11 repeat; -o-border-image: url(../images/speaker-inner-shadow.png) 12 11 repeat; border-image: url(../images/speaker-inner-shadow.png) 12 11 repeat; }
.communicator-frame{ position:absolute; top:1.6em; left:2.2em; border-width: 1.3em
.7em; -webkit-border-image: url(../images/speaker_rim.png) 13 7 repeat; -moz-border-image: url(../images/speaker_rim.png) 13 7 repeat; -o-border-image: url(../images/speaker_rim.png) 13 7 repeat; border-image: url(../images/speaker_rim.png) 13 7 repeat; opacity:.5; }
.communicator-std-btn1{ left:12.5em; -webkit-transform:rotate(270deg); -moz-transform:rotate(270deg); -o-transform:rotate(270deg); transform:rotate(270deg); }
.communicator-std-btn2{ left:20em; -webkit-transform:rotate(270deg); -moz-transform:rotate(270deg); -o-transform:rotate(270deg); transform:rotate(270deg); }
.communicator-antenna{ position:absolute; width:32em;  background:url(../images/communicator_sprites.png) -915px 0px no-repeat;}
/*TRICORDER ITEMS*/
.tricorder-gradient-bg{ background:url(../images/metal_bg.png); width:32em; top:0; left:0; position:absolute; }
.tricorder-metal-texture{ background:url(../images/metal_texture.png); width:32em; position:absolute; }
.tricorder-metal-shadow{ width:16em; position:absolute; border-width: 5em 8em; -webkit-border-image: url(../images/tricorder_full_shadow.png) 31 repeat; -moz-border-image: url(../images/tricorder_full_shadow.png) 31 repeat; -o-border-image: url(../images/tricorder_full_shadow.png) 31 repeat; border-image: url(../images/tricorder_full_shadow.png) 31 repeat; opacity:.6; }
.tricorder-screen-holder{ position:absolute; left:5.3em; width:21.6em; height:22.6em; background:url(../images/solid_sprites.jpg) -37px 0px; }
.tricorder-screen-cover{ position:absolute; left:5.3em; width:21.6em; height:22.6em; background:url(../images/communicator_sprites.png) -632px -471px no-repeat; }
.tricorder-button-holder{ position:absolute; left:2.5em; }
.tricorder-std-btn2{ position:absolute; }
.tricorder-std-btn3{ position:absolute; }
.tricorder-dept-buttons{ position:absolute; left:9.6em; }
.tricorder-button2{ position:absolute; }
.tricorder-button3{ position:absolute; }
.tricorder-speaker-holder{ position:absolute; }
.tricorder-speaker-shadow{ position:absolute; width:7.2em; height:5em; border-width: 4em 4.4em; -webkit-border-image: url(../images/speaker-shadow.png) 40 44 repeat; opacity:.2; }
.tricorder-grill{ position:absolute; top:1.6em; left:2.2em; width:11.6em; height:9.5em; background:url(../images/radio_screen.png); }
.tricorder-speaker-darken{ position:absolute; top:1.6em; left:2.2em; width:11.6em; height:9.5em; background-color:#000; opacity:.1; }
.tricorder-inner-shadow{ position:absolute; top:1.6em; left:2.2em; width:5.1em; height:4em; border-width: 2.5em 4.4em 3em 2.2em; -webkit-border-image: url(../images/speaker-inner-shadow.png) 12 11 repeat; }
.tricorder-frame{ position:absolute; top:1.6em; left:2.2em; width:10.3em; height:6.9em; border-width: 1.3em
.7em; -webkit-border-image: url(../images/speaker_rim.png) 13 7 repeat;  }
/*PHASER ITEMS*/
.phaser-gradient-bg{ background:url(../images/x_dir_backgrounds.jpg) repeat-x; width:32em; top:0; left:0; position:absolute; }
.phaser-shadow{ position:absolute; width:12em; border-width: 10em; -webkit-border-image: url(../images/phaser_shadow_bg.png) 100 stretch; -moz-border-image: url(../images/phaser_shadow_bg.png) 100 stretch; -o-border-image: url(../images/phaser_shadow_bg.png) 100 stretch; border-image: url(../images/phaser_shadow_bg.png) 100 stretch; }
.phaser-metal{ position:absolute; left:2em; top:-.3em; width:14.7em; border-width: 4.5em 6.8em 4.1em; -webkit-border-image: url(../images/phaser_metal_bg.png) 45 68 41 round; -moz-border-image: url(../images/phaser_metal_bg.png) 45 68 41 round; -o-border-image: url(../images/phaser_metal_bg.png) 45 68 41 round; border-image: url(../images/phaser_metal_bg.png) 45 68 41 round; }
.phaser-bg-shadow{ position:absolute; width:24.1em; height:6.3em; left:4.2em; background:url(../images/communicator_sprites.png) -623px -698px no-repeat; }
.phaser-dial-holder{ position:absolute; left:3.2em; width:1.3em; height:11.3em; }
.phaser-dial-shadow{ position:absolute; width:1.3em; height:11.3em; border-width: 3em; -webkit-border-image: url(../images/phaser_cover_shadow.png) 30 repeat; -moz-border-image: url(../images/phaser_cover_shadow.png) 30 repeat; -o-border-image: url(../images/phaser_cover_shadow.png) 30 repeat; border-image: url(../images/phaser_cover_shadow.png) 30 repeat; opacity:0.61; }
.phaser-dial{ position:absolute; top:1.8em; left:1.9em; width:3.4em; height:13.7em; background:url(../images/dial.jpg); }
.phaser-dial-cover{ position:absolute; top:1.8em; left:1.8em; width:3.5em; height:13.7em; background:url(../images/communicator_sprites.png) -1256px -213px no-repeat; }
.phaser-dept-buttons{ position:absolute; left:13.2em; }
.phaser-numbers-holder{ position:absolute; left:21.5em; width:1.3em; height:11.3em; }
.phaser-numbers{ position:absolute; top:1.8em; left:1.8em; width:3.7em; height:13.7em; background:url(../images/solid_sprites.jpg) 0px -570px; }
.phaser-numbers-cover{ position:absolute; top:1.8em; left:1.8em; width:4.2em; height:13.7em; background:url(../images/communicator_sprites.png) -1253px -62px no-repeat; }
/*MEDICAL ITEMS*/
.medical-background{ position:absolute; width:32em; background-color:#1c1c1c; }
.medical-glass-front{ position:absolute; width:20.9em; height:20.1em; left:5.8em; background:url(../images/communicator_sprites.png) -413px -566px no-repeat; }
.medical-glass-back{ position:absolute; width:20.9em; height:20.1em; left:5.8em; background:url(../images/communicator_sprites.png) -191px -340px no-repeat; }
.medical-spinner-back{ position:absolute; width:20.9em; height:20.1em; left:5.8em; background:url(../images/background_mirror.png) 0px 0px; }
.medical-glass-top{ position:absolute; width:21em; height:4.2em; left:5.8em; background:url(../images/communicator_sprites.png) -422px -260px no-repeat; }
.medical-spinner-post{ position:absolute; width:21.4em; height:11.6em; left:5.55em; background:url(../images/communicator_sprites.png) -701px -123px no-repeat; }
.medical-spinner-front{ position:absolute; width:20.9em; height:20.1em; left:5.8em; background:url(../images/forground_mirror.png) 0px 0px; }
.medical-body{ position:absolute; width:27.7em; left:2.2em; background:url(../images/communicator_sprites.png) -422px -1px no-repeat; }
.medical-std-btn{ position:absolute; left:13.1em; }