<!-- TODO: replace the contents of this file with your own html -->
<div class="container">
  <div class="phaser-gradient-bg">
  	<div class="phaser-shadow"></div>
		<div class="phaser-bg-shadow"></div>
    <div class="phaser-metal"></div>
    <div class="phaser-dial-holder" id="dialRoll">
    	<div class="phaser-dial-shadow"></div>
      <div class="phaser-dial" id="backDial"></div>
      <div class="phaser-dial-cover"></div>
    </div>
    <div class="phaser-dept-buttons" id="phaserButton">
      <div class="operations-color-on straight-bg" id="buttonColor"></div>
      <div class="straight-button"></div>
    </div>
    <div class="phaser-numbers-holder">
    	<div class="phaser-dial-shadow"></div>
      <div class="phaser-numbers" id="phaserNumber"></div>
      <div class="phaser-numbers-cover"></div>
    </div>
  </div>
</div>